/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}

.glow {
  font-size: 60px;
  color: #0f0f0f;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px aqua, 0 0 40px aqua;
  }
}

#headher {
  z-index: -1;
  box-shadow: 5px 10px 40px 30px #0ff;
  color: #0f0f0f;
  text-align: center;
  -webkit-animation: glow1 1s ease-in-out infinite alternate;
  -moz-animation: glow1 1s ease-in-out infinite alternate;
  animation: glow1 1s ease-in-out infinite alternate;
}
@keyframes glow1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0ff;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px aqua, 0 0 40px aqua;
  }
}
/* in order: x offset, y offset, blur size, spread size, color */
/* blur size and spread size are optional (they default to 0) */

#btnhead {
  box-shadow: 5px 10px 40px #0ff;
  /* in order: x offset, y offset, blur size, spread size, color */
  /* blur size and spread size are optional (they default to 0) */
}
#hfont {
  font-family: "Roboto", sans-serif;
}
.dockHolder {
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
}

.dock {
  opacity: 0;
  background: grey;
  background: -o-linear-gradient(
    top,
    blue 0,
    rgb(10, 2, 53) 49%,
    blue 51%,
    #808080 100%
  );
  background: -moz-linear-gradient(
    top,
    blue 0,
    rgb(5, 0, 71) 49%,
    blue 51%,
    #808080 100%
  );
  background: -webkit-linear-gradient(
    top,
    blue 0,
    rgb(5, 0, 73) 49%,
    blue 51%,
    #808080 100%
  );
  border: 1px solid gray;
  max-width: 100%;
  vertical-align: bottom;
  line-height: 1em;
  padding: 0 8px;
  border-radius: 100%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dock:hover {
  opacity: 1;
}

.dockItem {
  display: inline;
  height: 50px;
  vertical-align: bottom;

  transition-property: width, height;
  -o-transition-property: width, height;
  -ms-transition-property: width, height;
  -moz-transition-property: width, height;
  -webkit-transition-property: width, height;
  transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.dockItem:hover {
  height: 60px;
}
.dockItem:active {
  height: 57px;
}

.dockLeftHolder {
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  right: 100%;
  height: 1px;
  line-height: 2px;
}

.Leftdock {
  opacity: 0;
  /* background:grey;
    background:
        -o-linear-gradient(left, blue 0, rgb(10, 2, 53) 49%, blue 51%, #808080 100%);
    background:
        -moz-linear-gradient(left, blue 0, rgb(5, 0, 71) 49%, blue 51%, #808080 100%);
    background:
        -webkit-linear-gradient(left, blue 0, rgb(5, 0, 73) 49%, blue 51%, #808080 100%); */
  /* border: 1px solid rgb(2, 2, 75);
    max-width:100%;
    vertical-align: left; */
  /* line-height: 1em;
    padding: 0 8px;
    border-radius: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;  */
  max-height: 100%;
  vertical-align: left;
}

.Leftdock:hover {
  opacity: 1;
}

.leftDockItem {
  /* display: inline; */
  height: 50px;
  vertical-align: 0px;
  align-items: center;

  transition-property: width, height;
  -o-transition-property: width, height;
  -ms-transition-property: width, height;
  -moz-transition-property: width, height;
  -webkit-transition-property: width, height;
  transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -ms-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
}
.leftDockItem:hover {
  height: 60px;
}
.leftDockItem:active {
  height: 57px;
}

html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 80%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  box-shadow: 5px 10px 40px 30px #0ff;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(52, 255, 255), 0 0 30px #0099ff;
  }
  to {
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 30px #5bfff7, 0 0 40px #ffffff;
  }
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box textarea {
  position: absolute;
  top: 200px;
  font-family: 'JetBrains Mono', monospace;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  /* margin-bottom: 30px; */
  /* border: none; */
  border: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

#btn{
  position: absolute;
  bottom: -40vh;
  left: 45%;
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/* For 640 Resolution */  
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{
  .login-box{
    width: 98%;
  }
  #btn{
    left: 10%;
  }
  .login-box .user-box textarea{
    top: 97px;
  }
}

@media only screen   
and (min-device-width : 250px)   
and (max-device-width : 620px)  
{.login-box{
    width: 98%;
  }
  #btn{
    left: 10%;
  }
  .login-box .user-box textarea{
    top: 97px;
  }}  

#codearea{
  height: 40vh;
  transform: translateY(-50%);
}

.lang{
  position: absolute;
  transform: translateY(550%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  left: 45%;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 5px 10px 40px #0ff;
  bottom: 0;
  background-image: linear-gradient(to right, blue, rgb(127, 127, 243));
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(190, 190, 190);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(to right, yellow, orange);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}